<div class="header">
    <div class="header_container">
        <div class="header_content">
            <div class="brand_menu">
                <button mat-icon-button>
                <mat-icon>menu</mat-icon></button>
                <span class="brand_area">
                    <a (click)="goToPage()" href="javaScript:void(0)">
                    <span class="brand">SANDBOND </span> <span style="color: white;">|</span><span class="sub_brand"> ANGULARAPP</span></a>
                </span>
            </div>
        </div>
    </div>
</div>